<div class="detail-container">
  <div class="detail-board">
    <h1>{{ 'customer_info' | translate }}</h1>
    <div class="user-info">
      <p>{{ 'name' | translate }}: {{ userDetails?.first_name }} {{ userDetails?.last_name }}</p>
      <p>{{ 'id' | translate }}: {{ userDetails?.document_id }}</p>
      <p>{{ 'phone' | translate }}: {{ userDetails?.phone_number }}</p>
      <p>{{ 'email' | translate }}: {{ userDetails?.username }}</p>
    </div>

    <div class="importance-container">
      <h2>{{ 'customer_priority' | translate }}: {{ userDetails?.importance }}/10</h2>
      <div class="importance-bar-background">
        <div
          class="importance-bar"
          [style.width.%]="(userDetails?.importance || 0) * 10"
        ></div>
      </div>
    </div>

    <h2>{{ 'incident_history' | translate }}</h2>
    <div class="incident-list">
      <mat-card
        *ngFor="let incident of userDetails?.incidents"
        class="incident-card"
      >
        <p>{{ 'last_call' | translate }}: {{ incident.creation_date | date : "dd/MM/yyyy" }}</p>
        <p>{{ 'reason' | translate }}: {{ incident.description }}</p>
        <p>{{ 'state' | translate }}: {{ translateState(incident.state) }}</p>
      </mat-card>
    </div>
  </div>

  <div class="form-container">
    <h1>{{ 'incident_details' | translate }}</h1>
    <form [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="priority-input">
        <mat-label>{{ 'priority' | translate }}</mat-label>
        <mat-select formControlName="priority" name="priority" required>
          @for (priority of priorities; track priority) {
          <mat-option [value]="priority.value">{{ priority.label }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="incidentForm.get('priority')?.invalid">{{
          getErrorMessage("priority")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="description-input" required>
        <mat-label>{{ 'incident_description' | translate }}</mat-label>
        <input matInput formControlName="description" required />
        <mat-error *ngIf="incidentForm.get('description')?.invalid">{{
          getErrorMessage("description")
        }}</mat-error>
      </mat-form-field>

      <!-- Base de Conocimientos -->
      <div class="help-container">
        <h2>{{ 'knowledge_base' | translate }}</h2>
        <button
          mat-flat-button
          type="button"
          class="help-button"
          (click)="getSimilarIncidents()"
        >
          <mat-icon>search</mat-icon>
          {{ 'search_similar_problems' | translate }}
        </button>
      </div>
      <mat-form-field appearance="outline" class="description-input">
        <mat-label></mat-label>
        <textarea matInput [value]="conocimiento" readonly></textarea>
      </mat-form-field>

      <!-- Respuestas generadas por IA -->
      <div class="help-container">
        <h2>{{ 'ia_generated_responses' | translate }}</h2>
        <button
          mat-flat-button
          type="button"
          class="help-button"
          (click)="getIAResponse()"
        >
          <mat-icon>search</mat-icon>
          {{ 'generate_possible_responses' | translate }}
        </button>
      </div>
      <mat-form-field appearance="outline" class="description-input">
        <mat-label></mat-label>
        <textarea matInput [value]="ia" readonly></textarea>
      </mat-form-field>

      <div class="button-container">
        <button mat-flat-button type="submit" class="create-button">
          {{ 'register_incident' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
