.detail-container {
    display: flex;
    height: 100%;
}

.detail-board {
    width: 30%;
    border: 1px solid #BDBDBD;
    margin: 40px 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.user-info {
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
}

h1 {
    font-size: 24px;
}

.detail-board h2 {
    font-size: 22px;
}

.detail-board p {
    color: #757575;
}

.importance-container {
    margin-top: 50px;
    margin-bottom: 70px;
}

.importance-bar-background {
    border-radius: 10px;
    width: 90%;
    height: 13px;
    overflow: hidden;
}

.importance-bar {
    margin-left: 20px;
    background-color: lime;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.incident-list {
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    overflow-y: auto;
}

.incident-card {
    background-color: #E3F2FD;
    margin-bottom: 20px;
    padding: 10px;
}

.incident-card p {
    color: #1565C0;
    margin-bottom: 0;
}

.incident-card p:first-child {
    margin-top: 10px;
}

.incident-card p:last-child {
    margin-bottom: 10px;
}

.form-container {
    width: 63%;
    border: 1px solid #BDBDBD;
    margin: 40px 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

form {
    margin-top: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.priority-input {
    width: 40%;
    margin-bottom: 10px;
}

.descrpition-input {
    width: 100%;
    height: 200px;
}

.button-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.create-button {
    height: 36px;
    font-size: 14px;
}