.detail-container {
    display: flex;
    height: 100%;
}

.detail-board {
    width: 30%;
    border: 1px solid #BDBDBD;
    margin: 40px 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.user-info {
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
}

h1 {
    font-size: 24px;
}

.detail-board h2 {
    font-size: 22px;
}

.detail-board p {
    color: #757575;
}

.importance-container {
    margin-top: 50px;
    margin-bottom: 80px;
}

.importance-bar-background {
    border-radius: 10px;
    width: 90%;
    height: 13px;
    overflow: hidden;
}

.importance-bar {
    margin-left: 20px;
    background-color: lime;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.form-container {
    width: 63%;
    border: 1px solid #BDBDBD;
    margin: 40px 20px;
    padding-left: 20px;
    padding-right: 20px;
}

form {
    margin-top: 40px;
    border: 1px solid #BDBDBD;
}

.priority-input {
    width: 40%;
    margin-bottom: 10px;
}

.descrpition-input {
    width: 100%;
    height: 200px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.create-button {
    height: 42px;
    font-size: 15px;
}