<div class="top-right">
  <span class="globe-icon">🌐</span>
  <span class="language-selector">ES/CO</span>
  <span class="dropdown-icon">▼</span>
</div>

<div class="login-container">
  <div class="welcome-board">
    <div class="welcome-texts">
      <h1>ABCalls</h1>
      <p>Tu aliado en el servicio al cliente</p>
    </div>
  </div>

  <div class="form-container">
    <h2>¡Bienvenido de nuevo!</h2>
    <p>Ingresa tus datos para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login-input">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="username" type="email" />
        <mat-error>{{ getErrorMessage("username") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="login-input">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error>{{ getErrorMessage("password") }}</mat-error>
      </mat-form-field>

      <mat-error *ngIf="loginError" style="margin-bottom: 16px; display: block">
        {{ loginError }}
      </mat-error>

      <button
        mat-raised-button
        color="primary"
        class="login-button"
        type="submit"
      >
        INICIAR SESION
      </button>

      <div class="links-container">
        <a class="link" routerLink="/signup">Crear Cuenta</a>
        <a class="link">Olvide mi contraseña</a>
      </div>
    </form>
  </div>
</div>
