<div class="top-right">
  <button mat-button [matMenuTriggerFor]="languageMenu" aria-haspopup="menu" aria-expanded="false" class="language-button">
    <div class="button-content">
      <mat-icon>public</mat-icon>
      <span class="language-text">{{ selectedLanguage.toUpperCase() }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </button>
</div>

<div class="login-container">
  <div class="welcome-board">
    <div class="welcome-texts">
      <h1>{{ 'title' | translate }}</h1>
      <p>{{ 'customer_service_ally' | translate }}</p>
    </div>
  </div>

  <div class="form-container">
    <h2>{{ 'welcome_back' | translate }}</h2>
    <p>{{ 'enter_details' | translate }}</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login-input">
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input matInput formControlName="username" type="email" />
        <mat-error>{{ getErrorMessage("username") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="login-input">
        <mat-label>{{ 'password' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error>{{ getErrorMessage("password") }}</mat-error>
      </mat-form-field>

      <mat-error *ngIf="loginError" style="margin-bottom: 16px; display: block">
        {{ loginError }}
      </mat-error>

      <button mat-raised-button color="primary" class="login-button" type="submit">
        {{ 'login' | translate }}
      </button>

      <div class="links-container">
        <a class="link" routerLink="/signup">{{ 'create_account' | translate }}</a>
        <a class="link">{{ 'forgot_password' | translate }}</a>
      </div>
    </form>
  </div>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('es')">ES</button>
    <button mat-menu-item (click)="changeLanguage('en')">EN</button>
    <button mat-menu-item (click)="changeLanguage('fr')">FR</button>
  </mat-menu>
</div>
