<div class="all-container">
    <mat-toolbar *ngIf="!isLoginRoute()" class="top-bar">
        <mat-icon class="menu-icon" (click)="toggleSidenav()">menu</mat-icon>
        <span class="title">ABCalls</span>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="languageMenu" aria-haspopup="menu" aria-expanded="false" class="language-button">
            <div class="button-content">
              <mat-icon>public</mat-icon>
              <span class="language-text">{{ selectedLanguage.toUpperCase() }}</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </button>
    </mat-toolbar>

    <mat-sidenav-container [ngClass]="{'with-toolbar': !isLoginRoute()}" class="container">
        <mat-sidenav *ngIf="!isLoginRoute()" #sidenav mode="side" [(opened)]="isSidenavOpened" class="mat-sidenav">
            <mat-nav-list>
                <h3>{{ 'menu_title' | translate }}</h3>
                <mat-list-item *ngFor="let item of menuItems" [routerLink]="item.path"
                    routerLinkActive="active-list-item">
                    <mat-icon matListItemIcon class="menu-icon">{{item.icon}}</mat-icon>
                    <span matListItemTitle>{{ item.label | translate }}</span>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('es')">ES</button>
        <button mat-menu-item (click)="changeLanguage('en')">EN</button>
        <button mat-menu-item (click)="changeLanguage('fr')">FR</button>
      </mat-menu>
</div>