<div class="top-right">
  <button mat-button [matMenuTriggerFor]="languageMenu" aria-haspopup="menu" aria-expanded="false" class="language-button">
    <div class="button-content">
      <mat-icon>public</mat-icon>
      <span class="language-text">{{ selectedLanguage.toUpperCase() }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </button>
</div>

<div class="login-container">
  <div class="welcome-board">
    <div class="welcome-texts">
      <h1>{{ 'title' | translate }}</h1>
      <p>{{ 'customer_service_ally' | translate }}</p>
    </div>
  </div>

  <div class="form-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>{{ 'create_account' | translate }}</h2>
      <p>{{ 'enter_details' | translate }}</p>
      <mat-form-field appearance="outline" class="signup-input">
        <mat-label>{{ 'company_name' | translate }}</mat-label>
        <input matInput formControlName="companyName" placeholder="{{ 'company_placeholder' | translate }}" required>
        <mat-error *ngIf="signupForm.get('companyName')?.invalid">{{ getErrorMessage('companyName') }}</mat-error>
      </mat-form-field>

      <div class="input-row">
        <mat-form-field appearance="outline" class="signup-input half-input">
          <mat-label>{{ 'first_name' | translate }}</mat-label>
          <input matInput formControlName="firstName" placeholder="{{ 'first_name_placeholder' | translate }}" required>
          <mat-error *ngIf="signupForm.get('firstName')?.invalid">{{ getErrorMessage('firstName') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="signup-input half-input">
          <mat-label>{{ 'last_name' | translate }}</mat-label>
          <input matInput formControlName="lastName" placeholder="{{ 'last_name_placeholder' | translate }}" required>
          <mat-error *ngIf="signupForm.get('lastName')?.invalid">{{ getErrorMessage('lastName') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field appearance="outline" class="signup-input half-input">
          <mat-label>{{ 'birth_date' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="{{ 'birth_date_placeholder' | translate }}" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="signupForm.get('birthDate')?.invalid">{{ getErrorMessage('birthDate') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="signup-input half-input">
          <mat-label>{{ 'phone_number' | translate }}</mat-label>
          <input matInput type="tel" formControlName="phoneNumber" placeholder="{{ 'phone_number_placeholder' | translate }}" required>
          <mat-error *ngIf="signupForm.get('phoneNumber')?.invalid">{{ getErrorMessage('phoneNumber') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field appearance="outline" class="signup-input half-input">
          <mat-label>{{ 'country' | translate }}</mat-label>
          <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)" name="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="signupForm.get('country')?.invalid">{{ getErrorMessage('country') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="signup-input half-input">
          <mat-label>{{ 'city' | translate }}</mat-label>
          <mat-select formControlName="city" name="city" required>
            <mat-option *ngFor="let city of filteredCities" [value]="city">{{ city }}</mat-option>
          </mat-select>
          <mat-error *ngIf="signupForm.get('city')?.invalid">{{ getErrorMessage('city') }}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="signup-input">
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input matInput formControlName="email" placeholder="{{ 'email_placeholder' | translate }}" required>
        <mat-error *ngIf="signupForm.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="signup-input">
        <mat-label>{{ 'password' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="signupForm.get('password')?.invalid">{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="signup-input">
        <mat-label>{{ 'confirm_password' | translate }}</mat-label>
        <input matInput formControlName="confirmPassword" type="password" required>
        <mat-error *ngIf="signupForm.get('confirmPassword')?.invalid">{{ getErrorMessage('confirmPassword') }}</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button routerLink="/login" color="secondary" class="cancel-button">{{ 'cancel' | translate }}</button>
        <button mat-flat-button type="submit">{{ 'confirm' | translate }}</button>
      </div>
    </form>
  </div>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('es')">ES</button>
    <button mat-menu-item (click)="changeLanguage('en')">EN</button>
    <button mat-menu-item (click)="changeLanguage('fr')">FR</button>
  </mat-menu>
</div>
