<div class="plan-init-container">
  <div class="form-container">
    <h2>Selecciona tu Plan</h2>
    <p class="plan-text">Elige el plan que mejor se adapte a tus necesidades</p>
    <div class="plans-grid">
      <div *ngFor="let plan of plans?.plans" class="plan-card">
        <p class="card-name">{{ plan.name }}</p>
        <p class="card-price">${{ plan.price }}</p>

        <ul>
          <li *ngFor="let feature of plan.features">{{ feature.description }}</li>
        </ul>

        <button mat-flat-button (click)="selectPlan(plan)">SELECCIONAR PLAN</button>
      </div>
    </div>
  </div>
</div>