html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-toast {
  background-color: #4CAF50;
  color: white;
}

.error-toast {
  background-color: #F44336;
  color: white;
}
